
<p-growl [value]="msgs" sticky="sticky"></p-growl>

<div class="card no-margin">
  <p-tabView>
    <p-tabPanel header="{{ 'EMP001.employee_information' | translate}}">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <input type="hidden" [(ngModel)]="employee.employeeId" formControlName="employeeId" />
        <div class="ui-g ui-fluid">

          <div class="ui-g-12  ui-md-12 ui-lg-12">
            <p-panel header="{{ 'EMP001.employee_information' | translate}}">
              <div class="ui-g ui-fluid">

                <div class="ui-g-12 ui-md-12 ui-lg-4">
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4">
                      &nbsp;
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <img [src]="image" style="max-height:80px; min-height:170px; max-width: 170px; min-width: 170px; display: block; margin-left: auto; margin-right: auto; border-radius:50%">
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4">
                      &nbsp;
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <p-fileUpload mode="basic" accept="image/*" maxFileSize="1000000" (onSelect)="onChooseImage($event)" chooseLabel="{{ 'COMMON.choose' | translate}}" auto="true"></p-fileUpload>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.date_of_birth' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <p-calendar [showIcon]="true" [(ngModel)]="dateOfBirth" [monthNavigator]="true" [yearNavigator]="true" yearRange="1950:{{presentYear}}" dateFormat="dd/mm/yy" formControlName="dateOfBirth"></p-calendar>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.id_card_no' | translate}} *: </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <input pInputText type="text" [(ngModel)]="employee.idCardNo" formControlName="idCardNo" />
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-3">
                      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['idCardNo'].valid&&form.controls['idCardNo'].dirty">
                        <i class="fa fa-close"></i>
                        {{ 'COMMON.required' | translate}}
                      </div>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.date_id_card_expire' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [(ngModel)]="dateIdCardExpire" formControlName="dateIdCardExpire"></p-calendar>
                      <!--<p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [(ngModel)]="dateIdCardExpire" formControlName="dateIdCardExpire" (ngModelChange)="checkDateIdCard()"></p-calendar>-->
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.passport_no' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <input pInputText type="text" [(ngModel)]="employee.passportNo" formControlName="passportNo" />
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.nationality' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <p-dropdown [options]="nationalityDDL" optionLabel="name" [(ngModel)]="nationalityId" [autoWidth]="false" placeholder="{{ 'COMMON.default_select' | translate}}" [showClear]="true" formControlName="nationalityId"></p-dropdown>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.marriage_status' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <p-dropdown [options]="marriageStatusDDL" [(ngModel)]="marriageStatus" optionLabel="name" [autoWidth]="false" placeholder="{{ 'COMMON.default_select' | translate}}" [showClear]="true" formControlName="marriageStatus"></p-dropdown>
                    </div>
                  </div>
                </div> <!--end col 1-->


                <div class="ui-g-12  ui-md-12 ui-lg-4">
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.gender' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-8">
                      <div class="ui-g-12 ui-md-12 ui-lg-4">
                        <p-radioButton name="gender" [value]="1" label="{{ 'EMP001.male' | translate}}" [(ngModel)]="employee.gender" formControlName="gender"></p-radioButton>
                      </div>
                      <div class="ui-g-12 ui-md-12 ui-lg-4">
                        <p-radioButton name="gender" [value]="2" label="{{ 'EMP001.female' | translate}}" [(ngModel)]="employee.gender" formControlName="gender"></p-radioButton>
                      </div>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.nickname_th' | translate}} *: </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <input pInputText type="text" [(ngModel)]="employee.nickName" formControlName="nickName" />
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-3">
                      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['nickName'].valid&&form.controls['nickName'].dirty">
                        <i class="fa fa-close"></i>
                        {{ 'COMMON.required' | translate}}
                      </div>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.name_th' | translate}} *: </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <input pInputText type="text" [(ngModel)]="employee.name" formControlName="name" />
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-3">
                      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['name'].valid&&form.controls['name'].dirty">
                        <i class="fa fa-close"></i>
                        {{ 'COMMON.required' | translate}}
                      </div>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.name_en' | translate}} *: </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <input pInputText type="text" [(ngModel)]="employee.name_EN" formControlName="name_EN" />
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-3">
                      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['name_EN'].valid&&form.controls['name_EN'].dirty">
                        <i class="fa fa-close"></i>
                        {{ 'COMMON.required' | translate}}
                      </div>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.email' | translate}} *: </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <input pInputText type="email" [(ngModel)]="employee.emailAddress" formControlName="emailAddress" [email]="true" />
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-3">
                      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['emailAddress'].valid&&form.controls['emailAddress'].dirty">
                        <i class="fa fa-close"></i>
                        {{ 'COMMON.required' | translate}}
                      </div>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.weight' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <input pInputText type="number" [(ngModel)]="employee.weightInKGS" formControlName="weightInKGS" />
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.id_card_issue_place' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <input pInputText type="text" [(ngModel)]="employee.idCardIssuePlace" formControlName="idCardIssuePlace" />
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.telephone_no' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <input pInputText type="text" [(ngModel)]="employee.telephoneNo" formControlName="telephoneNo" />
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.date_passport_issue' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:{{presentYear}}" [(ngModel)]="datePassportIssue" formControlName="datePassportIssue"></p-calendar>
                      <!--<p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [(ngModel)]="datePassportIssue" formControlName="datePassportIssue" (ngModelChange)="checkDatePassport()"></p-calendar>-->
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.race' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <p-dropdown [options]="raceDDL" [(ngModel)]="raceId" optionLabel="name" [autoWidth]="false" placeholder="{{ 'COMMON.default_select' | translate}}" [showClear]="true" formControlName="raceId"></p-dropdown>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.blood_group' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <p-dropdown [options]="bloodTypeDDL" optionLabel="name" [(ngModel)]="bloodGroup" [autoWidth]="false" placeholder="{{ 'COMMON.default_select' | translate}}" [showClear]="true" formControlName="bloodGroup"></p-dropdown>
                    </div>
                  </div>
                </div>

                <div class="ui-g-12  ui-md-12 ui-lg-4">
                  <!--col3-->
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.title' | translate}} *: </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <p-dropdown [options]="titlesDDL" [(ngModel)]="title" optionLabel="name" [autoWidth]="false" placeholder="{{ 'COMMON.default_select' | translate}}" [showClear]="true" formControlName="title"></p-dropdown>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-3">
                      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['title'].valid&&form.controls['title'].dirty">
                        <i class="fa fa-close"></i>
                        {{ 'COMMON.required' | translate}}
                      </div>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.nickname_en' | translate}} *: </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <input pInputText type="text" [(ngModel)]="employee.nickName_EN" formControlName="nickName_EN" />
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-3">
                      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['nickName_EN'].valid&&form.controls['nickName_EN'].dirty">
                        <i class="fa fa-close"></i>
                        {{ 'COMMON.required' | translate}}
                      </div>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.surname_th' | translate}} *: </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <input pInputText type="text" [(ngModel)]="employee.surname" formControlName="surname" />
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-3">
                      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['surname'].valid&&form.controls['surname'].dirty">
                        <i class="fa fa-close"></i>
                        {{ 'COMMON.required' | translate}}
                      </div>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.surname_en' | translate}} *: </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <input pInputText type="text" [(ngModel)]="employee.surname_EN" formControlName="surname_EN" />
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-3">
                      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!form.controls['surname_EN'].valid&&form.controls['surname_EN'].dirty">
                        <i class="fa fa-close"></i>
                        {{ 'COMMON.required' | translate}}
                      </div>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.line' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <input pInputText type="text" [(ngModel)]="employee.lineId" formControlName="lineId" />
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.height' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <input pInputText type="number" [(ngModel)]="employee.heightInCM" formControlName="heightInCM" />
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.date_id_card_issue' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:{{presentYear}}" [(ngModel)]="dateIdCardIssue" formControlName="dateIdCardIssue"></p-calendar>
                      <!--<p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [(ngModel)]="dateIdCardIssue" formControlName="dateIdCardIssue" (ngModelChange)="checkDateIdCard()"></p-calendar>-->
                    </div>
                  </div>
                  <div class="ui-grid-rowt">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.mobile_no' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <input pInputText type="text" [(ngModel)]="employee.mobileNo" formControlName="mobileNo" />
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.date_passport_expire' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [(ngModel)]="datePassportExpire" formControlName="datePassportExpire"></p-calendar>
                      <!--<p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [(ngModel)]="datePassportExpire" formControlName="datePassportExpire" (ngModelChange)="checkDatePassport()"></p-calendar>-->
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.religion' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <p-dropdown [options]="religionDDL" [(ngModel)]="religionId" optionLabel="name" [autoWidth]="false" placeholder="{{ 'COMMON.default_select' | translate}}" [showClear]="true" formControlName="religionId"></p-dropdown>
                    </div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.skin_color' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <p-dropdown [options]="skinColorDDL" [(ngModel)]="skinColorId" optionLabel="name" [autoWidth]="false" placeholder="{{ 'COMMON.default_select' | translate}}" [showClear]="true" formControlName="skinColorId"></p-dropdown>
                    </div>
                  </div>
                </div> <!--end col3-->

                <div class="ui-g-12 ui-md-12 ui-lg-4" style="padding-top: 0px;">
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-4 txt">
                      <label for="input">{{ 'EMP001.military_status' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-5">
                      <p-dropdown [options]="militaryStatusDDL" [(ngModel)]="militaryStatus" optionLabel="name" [autoWidth]="false" placeholder="{{ 'COMMON.default_select' | translate}}" [showClear]="true" formControlName="militaryStatus"></p-dropdown>
                    </div>
                  </div>
                </div>
                <div class="ui-g-12 ui-md-12 ui-lg-8">
                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-2">
                      <label for="input">{{ 'EMP001.remark' | translate}} : </label>
                    </div>
                    <div class="ui-g-12 ui-md-12 ui-lg-9">
                      <textarea [rows]="5" [cols]="40" pInputTextarea autoResize="autoResize" [(ngModel)]="employee.remark" formControlName="remark"></textarea>
                    </div>
                  </div>

                  <div class="ui-grid-row">
                    <div class="ui-g-12 ui-md-12 ui-lg-2">
                    </div>
                      <div class="ui-g-12 ui-md-12 ui-lg-9" style="text-align:right">
                        <button pButton type="submit" label="{{ 'COMMON.save' | translate}}" [disabled]="!form.valid||!validDate" class="imc-button"></button>
                        <button pButton type="button" label="{{ 'COMMON.back' | translate}}" (click)="back();" class="imc-button btn-back"></button>
                      </div>
                    </div>
                  </div>
              </div>
            </p-panel>
          </div>
        </div>
      </form>
    </p-tabPanel>
    <p-tabPanel header="{{ 'EMP001.address' | translate}}">
      <app-employee-address></app-employee-address>
    </p-tabPanel>
    <p-tabPanel header="{{ 'EMP001.family_information' | translate}}">
      <app-employee-family></app-employee-family>
    </p-tabPanel>
    <p-tabPanel header="{{ 'EMP001.work_information' | translate}}">
      <app-employee-work-information></app-employee-work-information>
    </p-tabPanel>
    <p-tabPanel header="{{ 'EMP001.work_shift' | translate}}">
      <app-employee-shift></app-employee-shift>
    </p-tabPanel>
    <p-tabPanel header="{{ 'EMP001.education' | translate}}">
      <app-employee-education></app-employee-education>
    </p-tabPanel>
    <p-tabPanel header="{{ 'EMP001.work_experience' | translate}}">
      <app-employee-work-experience></app-employee-work-experience>
    </p-tabPanel>
    <!--<p-tabPanel header="{{ 'EMP001.skills' | translate}}">
      ทักษะความสามารถ
    </p-tabPanel>-->
    <p-tabPanel header="{{ 'EMP001.working_hours' | translate}}">
      <app-employee-time-attendance></app-employee-time-attendance>
    </p-tabPanel>
    <p-tabPanel header="{{ 'EMP001.transfer_information' | translate}}">
     <app-employee-history></app-employee-history>
    </p-tabPanel>
    <!--<p-tabPanel header="{{ 'EMP001.train' | translate}}">
      ฝึกอบรม
    </p-tabPanel>-->
  </p-tabView>
</div>
<p-confirmDialog></p-confirmDialog>

